# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Logs & Secrets
*.log
backend-secret.yaml
*.pem
*.key

# OS files
.DS_Store
Thumbs.db
